.testimonials-block {
    padding: 0;
    display: inline-block;
    margin: 0;
    background-image: url(background.png);
    width: 100%;
    
    
    
}

.title {
    margin: 0;
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 40px;
    position: relative;
}

.title h2{
    
    
    padding: 55px 0px;
    
    margin: 0;
    background-size: 100%;
    text-transform: uppercase;
    
    text-align: center;
    color: #3170a8;
    display: inline-block;
    font-weight: lighter;
}

.title h2:first-child {
    text-align: center; 
    color: #ee8129;
}

.testimonials {
    
    position: relative;
    left: 50%;
    float: left;
    text-align: left;
    max-width: 1147px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

    
}


.testimonial {
    position: relative;
    left: -50%; 
    float: left ;
    display: flex;
    margin-bottom: 38px;
  
}

.testimonial:nth-child(even) {
       
   margin-left: 47px;
   
}


.customer {
    
   float: left;
   position: relative;
   background-color: white;
   width: 364px;
   height: 98px;
   display: flex;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding-left: 18px;
   padding-right: 18px;
   margin-left: 26px;
    
}


.testimonial img{
    
    height: 98px;
    width: 98px;
    
}


.customer:before{
    content: "";
    position: absolute;
    right: 100%;
    top: 40%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 13px solid white;
    border-bottom: 10px solid transparent;
}

 .customer h3:first-child{
    text-align: left; 
    color: #467cae;
    font-size: 13px;
    
    flex-grow: 1;
 }
 .customer h3{
    
    color: #467cae;
    font-size: 13px;
    float: right;
    flex-grow: 2;
    text-align: right;
}
.customer p{
    border-top: 1px dashed #467cae;
    margin-top: 0px;

    padding-top: 15px;
    color: #737373;
    font-size: 13px;
    float: none;
    flex-grow: 3;
    width: 100%;
    
}